[2020-11-18 13:02] anshulhub opened #80 "hacktoberfest already finished"

[2021-10-01 12:25] vijaygupta18 opened #100 "For easy contribution"
For easy contribution create pr on this repo.

https://github.com/vijaygupta18/Hacktoberfest-2021

[2021-10-02 10:55] #100 closed

[2021-10-08 12:53] Fancy-angel opened #221 "Add merge sort"
This file should contain merge sort in c

[2021-10-08 13:00] killerraj369 opened #223 "Add Web Based Piano Project"
I have already added a Web-Dev based Keyboard piano project #222
Merge #222  and assign Hacktoberfest label to me

[2021-10-08 23:52] maleeshasilva commented on #221
can I work on this?

[2021-10-09 10:34] umak1106 commented on #221
I added mergesort in c . My pr is 246.

[2021-10-09 10:35] HimanshiGupta010 commented on #221
Hello,
I want to contribute as a contributer as a Hacktoberfest2021, So please assign this issue to me.

[2021-10-10 18:17] prachi996 commented on #221
hey, please assign this to me

[2021-10-11 05:38] Khushi-Mattu commented on #221
I want to work on this issue. do assign it to me

[2021-10-11 06:59] HimanshiGupta010 opened #268 "#Issue"
Array.c contains HTML code.

[2021-10-14 15:09] d3osaju opened #306 "Change name and Don't accept DSA pull requests"
!-warning

Pull requests will be escalated if found spamming

[2021-10-14 18:10] tajmuhammed123 opened #308 "Bubble sort"

[2021-10-15 09:37] prakhyatsinghal opened #312 "Pow (x,n) using Java"
Hello! @1dharode ! I want to work on this issue, please assign it to me.

[2021-10-16 19:20] tajmuhammed123 opened #330 "I need to upload pull request"

[2021-10-17 16:23] ItsGagan opened #341 "The program I added is Now - Excluded Project (But it is still Merged Only)"
The Hacktoberfest Site is showing the Project has been Excluded
(till yesterday everything was fine )

Why is this Happened ?
& can I create new prs now because it takes 14 days to get it matured
By then October will End ???

[2021-10-18 09:28] ItsGagan commented on #341
Just a Question! Please do answer it...

I created new PRs after this got Excluded (Which will get mature on 31st Oct)
(And 2 PRs are maturing on 21st)

Am I still eligible for Swags or Not ?

[2021-10-18 09:43] atharvaphand08 opened #350 "Playfair Cipher Cryptography in Python"
Implementation of Playfair Cipher Encryption Algorithm in Python

[2021-10-18 10:47] ShanaazAhamed commented on #308
I can fix this issue can you assign this to me

[2021-10-18 13:38] #221 closed, assigned to nobody

[2021-10-19 11:25] 1dharode commented on #330
Hi dear @tajmuhammed123

Send me your pr

Show your support on my youtube channel web Pixar(The institute of coding)
like , share , subscribe

Youtube - https://youtu.be/5qnQjgdpFPg

Telegram-channel - https://t.me/WebPixar

Join our telegram channel for more goodies , swag packs.

You can also join - https://devfolio.co/signup?ref=33d4a02bef

And search for - HackNITR 3.0

There is too many rewar

[2021-10-19 11:28] 1dharode commented on #341
Don't worry Gagan .

you can  also send your pr on [02/10, 7:15 PM] @Harode: github.com/David241-webdeveloper/Hacktoberfest2021
 @Harode: github.com/Mr-Jack2/Hacktoberfest2021
 @Harode: https://github.com/Dshwn/Hacktoberfest2021
 @Harode: https://github.com/sauravgpt2/hacktoberfest36_2021
 @Harode: github.com/JagguAndroid/Hacktoberfest2021
 @Harode: github.com/ShriDart/Hacktoberfest2021
 @Harode:

[2021-10-19 11:36] 1dharode commented on #223
Done bro

Thanks for your contribution..

[2021-10-19 12:21] ItsGagan commented on #341
By the way thanks but I already created New 8 PRs

[2021-10-20 08:58] GauravAmbasta2405 opened #397 "Codechef SnackDown 2021"
I want to upload solution of Codechef SnackDown 2021-Online Qualifiers .

[2021-10-20 09:01] GauravAmbasta2405 commented on #397
I want to work on this issue @1dharode

[2021-10-21 08:06] anujjain5699 opened #412 "Product of Array Except Self"
# product of all the elements of nums except nums[i]
## [Leetcode](https://leetcode.com/problems/product-of-array-except-self/)

[2021-10-24 08:26] kanchan905 opened #446 "create a palindromic pattern in c++"

[2021-10-25 15:18] gargi111 opened #455 "Zigzag covertion leetcode"

[2021-10-25 15:20] gargi111 opened #456 "Roman to Integer conversion"
program to convert roman to integer

[2021-10-26 02:40] #412 closed, assigned to nobody

[2021-10-26 09:11] nimrodcoder opened #463 "Colour Guessing Game in pure Javascript"
I would like to work on this issue. Please assign it to me

[2021-10-26 15:17] #463 closed, assigned to nobody

[2021-10-27 18:30] mrunali-yewale opened #478 "Add responsive and animated footer"
Can I work on this issue please assign it to me

[2021-10-28 16:56] Umar293 opened #492 "CodeChef Solutions"
CodeChef Solutions using CPP

[2021-10-28 19:04] Kunal9155 opened #496 "added a number guessing game using cpp language"
PR #495

[2022-10-01 03:34] raj-hero opened #541 "c++/prime_number.cpp sieve method not given"
finding prime number sieve algorithm method is not given. Assign me so that I can add code for this algorithm

[2022-10-01 04:02] Saicharan0662 opened #548 "Added matrix-chain-multiplication and egg dropping puzzle code -2approaches"
I have added code for "matrix-chain-multiplication and egg dropping code" and created a PR #546
Hope it get merged.

Thanks!!

[2022-10-01 04:20] Utk98 opened #550 "Animation Using C++"
I can make animation of moving car animation using C++.I am proficient in C++ and 3 star in codeshef , please assign it to me

[2022-10-01 04:25] Stanish4Ever opened #551 "Euclidean Algorithm for Greatest Common Divisor (CPP)"
I want to add Eucliedean GCD in CPP. Please assign this pull request to me.

[2022-10-01 04:31] AJTEACH commented on #551
I Want to work on this issue please assign it to me @1dharode

[2022-10-01 04:32] #548 closed

[2022-10-01 04:32] shivani1706 opened #553 "add inorder traversal for trees"
traversing the tree need some kind of traversal method.
add inorder traversal for that purpose.

[2022-10-01 04:35] Kali-13 commented on #551
Hi! Can you please assign it to me I am Working on this

[2022-10-01 04:48] anudeeps0306 commented on #553
Can you please assign this to me?

[2022-10-01 05:44] MartinaJohn opened #571 "Add fourQueen problem in cpp"

[2022-10-01 05:44] MartinaJohn commented on #571
please assign me this issue @CostGranda

[2022-10-01 05:49] MartinaJohn commented on #571
pls assign me this issue @1dharode

[2022-10-01 05:50] MartinaJohn opened #573 "Add minmax algorithm in C"

[2022-10-01 05:50] MartinaJohn commented on #573
please assign me this issue @1dharode

[2022-10-01 06:10] Nkashyap-anand opened #580 "i have added c++ coding problems pls assign me HACKTOBERFEST-ACCEPTED label"

[2022-10-01 07:33] stutimohta20 opened #603 "Day Night Toggle"
A day night toggle made using html and css @1dharode please assign this to me under hacktoberfest

[2022-10-01 07:56] deep-poharkar opened #612 "would like to add Container With Most Water question to interview questions asked."
the solution will be in cpp please assign.

[2022-10-01 08:19] Prasad-D-Ware commented on #446
<img width="248" alt="Screenshot 2022-10-01 at 1 48 06 PM" src="https://user-images.githubusercontent.com/85189266/193400183-5e1bd5a7-b905-49ca-9450-41ff279cc272.png">
this is the output of the program i coded in c++ for palindrome patter assign it to me

[2022-10-01 10:13] Harsh-Tewari commented on #553
Hey @1dharode can you please assign this issue to me

[2022-10-01 14:19] napalion opened #672 "Would like to add a decimal to binary"
the solution will be in cpp please assign.

[2022-10-01 17:06] Abhisharma85 commented on #446
Assign it to me and i want to work on this issue

[2022-10-01 17:16] umang-singla opened #703 "Added Trie Data structure code template in C++"
I have added a trie data structure code template in C++. which will be helpful in solving Competitive Programming problems involving trie. Please assign me hacktoberfest-accepted label.

[2022-10-01 17:28] vishwasgowdahv commented on #446
Assign me I’ll do it

[2022-10-01 17:53] shubhrastogi07 opened #707 "Want to Add popular program of Rat In A Maze in java."
Hey @1dharode,
Want to add a popular Program of RAT IN A MAZE in java
Please assign this issue to me under hacktoberfest 2022 and help me in starting my first contribution.
I have already starred the repo and forked it.

[2022-10-01 18:04] HellspawnXerxes opened #711 "Moore's Voting Algorithm in C++ to find the majority element in an array."
**Please merge this issue as Hacktoberfest 2022 contribution. I really need that t-shirt. I am basically living for it. Pls tag this as Hacktoberfest issue. I will be really grateful to you.**

I commented every step to make the code more readable and understandable.

[code]

[2022-10-01 18:23] Abhishek-5854 opened #714 "Would like to add DIjkstra shortest path algorithm in greedy med problems"

[2022-10-01 18:52] shrut1-roy commented on #672
hey! can u assign me? I'll PR asap

[2022-10-01 18:56] lhpellizzon opened #721 "Added a file about Javascript and added Typewritter.js file for Portfolio Websites"
I could not find any JS folder for Javascript programs so I added one with a file that I would like to shared to the community.
Added a file about Javascript and added Typewritter.js file for Portfolio Websites. It has the instructions about how to use inside the file.

[2022-10-02 00:47] hd2342-dubey commented on #707
Hello, I want to work over this, please assign it to me.

[2022-10-02 00:50] hd2342-dubey opened #738 "Would like to add popular Fractional Knapsack problem solved using Greedy Approach"
Please assign it to me

[2022-10-02 02:52] saifrahmaaan commented on #738
Hello, I would like to work on this issue. Can you assign it to me, please?

[2022-10-02 04:19] jailbreakerVC opened #745 "readme says hacktober 2021"

[2022-10-02 04:58] AriC-21 opened #749 "I would like to add solution in cpp to the problem "longest word in a sentence". Please assign this task to me."

[2022-10-02 06:58] #749 closed

[2022-10-02 07:13] pr0x7 commented on #553
@1dharode assign this to me plz

[2022-10-02 07:14] SRR-CODER commented on #551
Interested in this. If possible assign it to me plz.

[2022-10-02 07:18] SRR-CODER commented on #672
interested in this @napalion assign it to me plz.

[2022-10-02 08:15] shivanithorve01 opened #779 "Tower of Hanoi Problem in CPP Folder"
@1dharode I wanted to add a solution for Tower of Hanoi Problem in CPP Folder for Hacktoberfest2022. Please assign me this issue.

[2022-10-02 08:18] alphaCoderR commented on #779
Can i add a solution?

[2022-10-02 08:19] alphaCoderR commented on #603
Can i work on it??

[2022-10-02 08:24] piyushkandari opened #780 "I want to add prism's algo in cpp"

[2022-10-02 08:45] Tanya401 commented on #553
Hey!! I would like to work on this one and contribute to the community, so can you please assign this to me?

[2022-10-02 09:03] Hack7023 commented on #779
Please assign me this issue.

[2022-10-02 09:04] Hack7023 commented on #672
Please assign me this issue.

[2022-10-02 10:27] amankumar-2001 commented on #780
Hello sir, I would like to contribute in this repo and wanna fix using C++.
For my programming skills you can visit my codechef profile  [apcode15](https://www.codechef.com/users/apcode15)
Please assign this to me under Hacktoberfest 2022.
Thanks!!

[2022-10-02 10:36] ninadnaik10 commented on #745
!assign

[2022-10-02 11:14] jailbreakerVC commented on #745
/assign

[2022-10-02 11:38] sidhrth04 opened #799 "Banking management System"
@1dharode , i would like to add a menu driver banking system management using c++

[2022-10-02 11:50] Spardha-hash opened #803 "Allocate minimum number of pages problem in java"
Please assign this issue to me.

[2022-10-02 12:01] jahnvichhabra commented on #779
Hey! Would love to contribute to this problem.

[2022-10-02 12:05] seemaPatl commented on #553
Hello @1dharode, I would like to contribute Tree traversal problem that was asked to me in Amazon Interview too. Please assign this issue to me.
Thanks in advance.

[2022-10-02 12:18] Aditi192002 commented on #738
Hello , I would like to work on this issue. Please assign it to me

[2022-10-02 12:19] Aditi192002 commented on #571
Please assign this issue to me

[2022-10-02 12:20] Aditi192002 commented on #553
Please assign this to me

[2022-10-02 12:20] Aditi192002 commented on #551
Please assign this issue to me

[2022-10-02 12:21] Aditi192002 commented on #456
Please assign it to me

[2022-10-02 12:55] HellspawnXerxes opened #809 "Josephus Problem Recursive Solution"
Can you assign me this task? I will be really grateful to you if you tag this as my Hacktoberfest 2022 contribution.

[2022-10-02 12:55] HellspawnXerxes opened #810 "Trapping Rainwater Problem?"
Can you assign me this task? I will be really grateful to you if you tag this as my Hacktoberfest 2022 contribution.

[2022-10-02 13:41] akashadr commented on #810
@1dharode  could you plz assign me this issue with hacktoberfest 2022 tag.

[2022-10-02 14:18] #780 closed

[2022-10-02 15:54] sahilsharma029 commented on #810
please assign me this issue I will be really grateful to you if you tag this as my Hacktoberfest 2022 contribution.
please assign me .

[2022-10-02 18:37] Codebraker7 commented on #779
Hey! I'd like to take up this issue

[2022-10-02 21:11] abhayanand08 commented on #779
@1dharode I want to add a solution to this issue . Kindly please assign me this task.

[2022-10-02 23:52] sudipnext opened #854 "This has been excluded from the Hacktoberfest"

[2022-10-03 00:56] hd2342-dubey opened #855 "Would like to add popular Fractional Knapsack problem solved using Greedy Approach"
Please assign it to me

[2022-10-03 03:29] 1dharode commented on #745
ok

[2022-10-03 03:29] #745 closed

[2022-10-03 03:31] 1dharode commented on #779
**okay**

[2022-10-03 03:35] abhayanand08 commented on #779
Please assign me this task @1dharode

[2022-10-03 06:06] vipul-2003 opened #866 "Multi Level Inheritance | Hackerrank Question | C++"
hi there ,
I am vipul kumar singh , wanted to make a pull request on the problem [Multi Level Inheritance](https://www.hackerrank.com/challenges/multi-level-inheritance-cpp/problem) .

Please assign it to me @ayushbali @rahanahu @CostGranda @rohansp @PREE-TI

[2022-10-03 06:43] ayushbali commented on #866
hey @vipul-2003 sure go ahead

[2022-10-03 07:44] utkarsh147-del commented on #714
Yes i would like to add it and i will shortly merge request,so please assigned this to me as hacktoberfest tag

[2022-10-03 07:58] iamrishabhjoshi commented on #866
@ayushbali @rahanahu @CostGranda @rohansp @PREE-TI Please accept my PR. I have added the code for the above platform.

[2022-10-03 08:19] deveshparmar commented on #455
Can you please assign this issue to me

[2022-10-03 08:54] SimranShah1 commented on #810
hey, I also want to contribute to this problem
can u please assign me this issue?
I am new to hacktoberfest.

[2022-10-03 08:57] SimranShah1 commented on #779
@1dharode I also want to work on this problem.
As a beginner, I want to contribute to this problem.
Kindly assign me this issue.

[2022-10-03 11:18] shivamxsurya opened #889 "Add No of Islands In Matrix"
I want to add program for no of islands in a matrix.

[2022-10-03 11:40] AvTe commented on #889
Input : mat[][] = {{1, 1, 0, 0, 0},
                   {0, 1, 0, 0, 1},
                   {1, 0, 0, 1, 1},
                   {0, 0, 0, 0, 0},
                   {1, 0, 1, 0, 1}}
Output : 5

[2022-10-03 12:59] NotAtitYet opened #897 "Want to update the readme file"
At some places the readme file still says hacktoberfest 2k21. So I would like to update it.

[2022-10-03 13:18] roopika253 commented on #738
Please assign this issue to me

[2022-10-03 13:28] roopika253 commented on #553
Please assign this to me

[2022-10-03 13:34] roopika253 commented on #714
Please assign this issue to me.I would like to add in python

[2022-10-03 13:36] roopika253 opened #903 "Would like to add bubble sort in python."
Please assign this to me.

[2022-10-03 13:36] roopika253 commented on #903
Please assign this to me.

[2022-10-03 13:47] Bikaskumar572 commented on #903
assign this to me

[2022-10-03 14:05] Coderayush13 commented on #809
i  wanted to solve this one

[2022-10-03 14:06] Coderayush13 opened #909 "Josephus Problem Recursive Solution"
In Josephus problem, n people are standing in a circle waiting to be executed and in every iteration, we kill the kth person and remove that person from the circle.

This procedure is repeated with the remaining people, starting with the (k+1)th person going in the same direction and killing the kth person, until only one person remains and is not killed.

We have to find the survivor position in

[2022-10-03 14:22] Spardha-hash opened #910 "Detect Loop in a Linked List(Floyd's Cycle Finding Algorithm)"
Please assign this issue to me.

[2022-10-03 14:39] jackson-roberio commented on #854
Hello @sudipnext , is it?
![image](https://user-images.githubusercontent.com/3946126/193598885-c1143538-623c-4704-b81f-6e60907c9010.png)

[2022-10-03 14:45] SharyDev commented on #897
Please assign this to me.

[2022-10-03 15:04] sudipnext commented on #854
Yes ! instead try other opensource repos

[2022-10-03 16:00] NotAtitYet commented on #897
I am not a maintainer I am also looking to contribute.

[2022-10-03 16:17] SanjoySaha24 commented on #909
Please assign this to me.

[2022-10-03 17:05] Sandyy07 commented on #910
Hi @abhpd , Kindly please assign me this issue.

[2022-10-03 17:05] Sandyy07 commented on #909
Hi @1dharode  , Kindly please assign me this issue.

[2022-10-03 17:05] Sandyy07 commented on #910
Hi @1dharode , Kindly please assign me this issue.

[2022-10-03 17:06] Sandyy07 commented on #571
Hi @1dharode , Kindly please assign me this issue.

[2022-10-03 17:06] Sandyy07 commented on #707
Hi @1dharode , Kindly please assign me this issue.

[2022-10-03 18:04] Rabeet8 opened #932 "Binary Search Tree Recursive Method Using C++"
I would like to add a Binary Search Tree Recursive Method Using C++.

Kindly assign me this issue under Hacktoberfest 2022

I have already starred ⭐️ the repo.

[2022-10-03 18:55] HuzaifaNaseer02 opened #937 "Want to make flappy bird game using pygame"
I want to make the flappy bird game using python. Please assign this issue to me. So that I can participate in Hacktoberfest 2022. Thanks

[2022-10-03 19:25] PrayagDwivedi commented on #932
// Binary Search Tree operations in C++

#include <iostream>
using namespace std;

struct node {
  int key;
  struct node *left, *right;
};

// Create a node
struct node *newNode(int item) {
  struct node *temp = (struct node *)malloc(sizeof(struct node));
  temp->key = item;
  temp->left = temp->right = NULL;
  return temp;
}

// Inorder Traversal
void inorder(struct node *root) {
  if (root != N

[2022-10-04 05:30] amankayat commented on #909
In this problem,There are N people standing in a circle waiting to be executed. The counting out begins at some point in the circle and proceeds around the circle in a fixed direction. In each step, a certain number of people are skipped and the next person is executed. The elimination proceeds around the circle (which is becoming smaller and smaller as the executed people are removed), until only

[2022-10-04 05:33] amankayat commented on #803
In this problem,
Given a number of pages in N different books and M students. The books are arranged in ascending order of the number of pages. Every student is assigned to read some consecutive books. The task is to assign books in such a way that the maximum number of pages assigned to a student is minimum.

Approach: using Binary srch

Input : pages[] = {12, 34, 67, 90} , m = 2
Output : 113
Exp

[2022-10-04 08:07] 525tamanna commented on #910
I can contribute to this issue. Please assign this issue to me.

[2022-10-04 08:25] reshukr97 commented on #603
Can you please assign me this issue @1dharode ?

[2022-10-04 09:03] nisthajnn commented on #909
please assign this to me @Coderayush13

[2022-10-04 10:07] blaze116 commented on #889
hey @1dharode, kindly assign this issue to me

[2022-10-04 14:10] Saumya9425 commented on #855
Please merge PR #983 and flag it as hacktober-accepted.

[2022-10-04 14:12] techhunter2 opened #983 "I want to add a python project which will encode or decode the message."
I want to add a python project(cipher) which will decode or encode the text message by displacing the positions of the alphabets.

[2022-10-04 16:05] ausie8526 commented on #937
Please assign this issue to me I would like to work on it

[2022-10-04 16:09] IryaDev opened #989 "Fibonacci sequence"
Hi! I want to add my fibonacci sequence in C++ because of the hacktoberfest. I wish it will help :)

[2022-10-05 05:39] Ankita-278 commented on #989
I want to work on this,can you pls assign me this

[2022-10-05 05:40] Ankita-278 commented on #932
I want to work on this..can you assign me this

[2022-10-05 06:27] VaibhavdLights commented on #672
Assign Please

[2022-10-05 12:07] Anshul727 commented on #932
Please assign me this project, I can complete it in best time complexity

[2022-10-05 12:10] Anshul727 commented on #809
I want to contribute. Thank you

[2022-10-05 14:01] imrish4 commented on #989
Can u assign me this issue
I am happy to contribute on this.

[2022-10-05 17:42] Garv-M commented on #989
@1dharode can you pls assign me this issue. I would like to work on it.

[2022-10-05 17:45] Garv-M commented on #932
@1dharode pls assign me this issue, I would like to work in this repo.

[2022-10-06 08:53] Anupamk06 commented on #909
@Coderayush13 please assign this task to me

[2022-10-06 08:53] Anupamk06 commented on #910
hi @1dharode please assign this task to me

[2022-10-06 09:26] Vivek-raj-64 opened #1076 "Floyd triangle"
I want to add code for floyd triangle using c++ in the C++ folder. Please assign this to me.

[2022-10-06 09:29] Vivek-raj-64 opened #1077 "Remove vowels from a string"
I want to add a code for removing vowels from a string using c++ in the C++ folder. Please assign this to me under hacktoberfest label.

[2022-10-06 10:14] 22tanyabansal commented on #1076
Hey @1dharode I want to contribute in this code. Please assign this task to me

[2022-10-06 10:28] arajshow opened #1080 "Longest Common Subsequence"

[2022-10-06 10:32] Abhishekjain113 commented on #989
Hi!  PLEASE assign to me
I am in open source  willing to contribute

[2022-10-06 10:44] Shubhamsingh2747 commented on #1080
Hey @arajshow , please assign me this issue. I am willing to provide C++ solution.

[2022-10-06 10:46] rikisupriyo commented on #989
Please assign me this, I want to work on it.

[2022-10-06 14:01] amanverma2253 commented on #1080
Can you please assign this issue to me ?

[2022-10-06 14:02] amanverma2253 commented on #909
Can you please assign this issue to me ?

[2022-10-06 14:02] amanverma2253 commented on #810
Can you please assign this issue to me ?

[2022-10-06 14:02] amanverma2253 commented on #779
Can you please assign this issue to me ?

[2022-10-06 14:03] amanverma2253 commented on #672
Can you please assign this issue to me ?

[2022-10-06 14:03] amanverma2253 commented on #308
Can you please assign this issue to me ?

[2022-10-06 14:04] IMTIAZ9085 opened #1088 "All KnapSack Category"
I want to make a folder and there i want to gather all knapsack-type questions and solutions. Please assign the task to me.

[2022-10-06 14:56] IMTIAZ9085 commented on #1088
@1dharode please assign me this task.

[2022-10-06 17:20] surajkeshari commented on #711
please assign this issue to me , I will give a full code of c++ and java with full explanation.

[2022-10-06 18:19] surajkeshari commented on #1080
Can you please assign this to me under Hacktoberfest label
i will add best question from leetcode.

[2022-10-06 18:19] surajkeshari commented on #1077
Can you please assign this to me under Hacktoberfest label.

[2022-10-06 18:20] surajkeshari commented on #910
Can you please assign this to me under Hacktoberfest label.

[2022-10-06 18:20] surajkeshari commented on #889
Can you please assign this to me under Hacktoberfest label
i will add best question from leetcode.

[2022-10-06 18:21] surajkeshari commented on #989
please assign this issue to me , I will give a full code of c++ and java with full explanation.

[2022-10-06 19:58] tajmuhammed123 commented on #308
Ok @amanverma2253 ill try

[2022-10-06 19:59] tajmuhammed123 commented on #308
Ok @amanverma2253 ill try

[2022-10-06 22:05] Muskankumari2002 commented on #446
I want to contribute on this. plz assign it to me.

[2022-10-07 05:15] swetarajak commented on #672
requesting to assign this issue to me

[2022-10-07 05:17] Vikas-Sahani commented on #478
@1dharode please assign me this task under Hacktoberfest 2022

[2022-10-07 10:54] nikhiljain-413 commented on #1080
I have uploaded the solution. kindly merge it .Thankyou

[2022-10-07 11:00] nikhiljain-413 commented on #1088
@nikhiljain-413  i have uploaded the all the types of knapsack

[2022-10-07 13:46] janvichoudhary08 commented on #541
please assign me this issue as a part of hacktoberfest

[2022-10-07 13:50] janvichoudhary08 commented on #779
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 15:45] Aradhyagarg commented on #989
I assign this issue to you @IryaDev

[2022-10-07 15:45] Aradhyagarg commented on #989
I want to work on this,can you pls assign me this to me

[2022-10-07 17:13] yosaami commented on #1088
I have added the code for fractional knapsack. Please merge my PR.

[2022-10-08 06:56] Beast71421 opened #1162 "Automatically add the contributers images in readme file and make it more beautifull"

[2022-10-08 06:56] Beast71421 commented on #1162
Assign me this issue, I would like to work on it.

[2022-10-08 07:02] Aman-Sekhon opened #1163 "Sudoko Solver Problem using C++"
Hey, I want to add "Sudoko Solver" Problem in the repository. May I?

[2022-10-08 09:15] arshya-garg opened #1171 "I would like to add Digital clock using JS"

[2022-10-08 10:34] yosaami commented on #1171
I would like to contribute to this issue. Please assign me.

[2022-10-08 10:36] yosaami commented on #937
hey @1dharode , I would like to contribute to this issue. please assign me

[2022-10-08 10:41] Samir433 commented on #1171
I would like to contribute to this issue.

[2022-10-08 10:42] Samir433 commented on #1163
I would like to contribute to this issue. Please assign me.

[2022-10-08 11:29] dubey0613 opened #1178 "Created: Java: ReverseOfTheString"
Hey I created a new program (https://github.com/1dharode/Hacktoberfest2022/pull/1176) kindly review it and merge it into the main branch

[2022-10-08 13:06] Sourabhsingh07 commented on #989
Hello sir , assign me this issue I will give you the proper solution on C++.

[2022-10-08 13:09] Sourabhsingh07 commented on #1163
Hello sir, assign me for this problem.

[2022-10-08 13:11] Sourabhsingh07 commented on #1077
Hello Sir, I would like to solve this problem. Assign me for this problem.

[2022-10-08 14:39] malikzi21 commented on #1163
Sir I have written this types of code many time please assign this task to me I can do this in very less time

[2022-10-08 16:56] KAMYAVERMA commented on #1076
I guess this repo is excluded from hacktoberfest 2022.
Is it?? @1dharode

[2022-10-09 03:02] Ankur7-7 commented on #989
I want to work on this, can you pls assign me this to me.

[2022-10-09 05:04] harshita9621 opened #1214 "Lowest Common Ancestor of a Binary Tree"
Hey, please assign me this issue. I am willing to provide C++ solution.

[2022-10-09 07:02] itzzsoumya commented on #1178
Hey Can you please assign it to me?

[2022-10-09 07:04] itzzsoumya commented on #1077
Hey , I want to provide Java solution. Please assign me this issue.

[2022-10-09 08:26] itsrishav17 commented on #1214
Can you please assign this issue to me?

[2022-10-09 08:27] itsrishav17 commented on #1077
Hey, I want to contribute to this project can you please assign it to me?

[2022-10-09 08:28] itsrishav17 commented on #1080
Hey, I want to work on this issue can you please assign it to me?

[2022-10-09 08:29] itsrishav17 commented on #889
Hey, I want to work on this issue can you please assign it to me?

[2022-10-09 08:42] 1610ayushi opened #1223 "Sliding Window Maximum"
I am willing to add a sliding window maximum solution and explanation (with approach and thought process) in JAVA.
Kindly assign this task to me.
Thanks in advance:)

[2022-10-09 11:10] RAJEEVKUMAR9598 commented on #989
Hii @IryaDev can you assign me this task please.

[2022-10-09 11:24] ANANTstudent commented on #1223
greetings to manager, can you assign this task to me? I can complete this test positively.

[2022-10-09 13:17] i-am-yogesh commented on #1223
Hey! I want to contribute to this problem in C++, you can count on me for sure.

[2022-10-09 13:23] #889 closed

[2022-10-09 14:00] nityabarwi commented on #1077
Hello
Can you please assign me this issue ?
I want to do it in python.

[2022-10-09 14:01] nityabarwi commented on #989
Hello
Can you please assign me this issue ?
I want to do it in python.

[2022-10-09 14:02] nityabarwi commented on #903
Hello
Can you please assign me this issue ?

[2022-10-09 14:26] Ritika122001 opened #1231 "Search in Rotated Sorted Array"
I would like to add the program of Search in Rotated Sorted Array in c++.
Kindly Assign it to me.
Thank You!!

[2022-10-09 15:41] SwarajShelavale opened #1235 "Sudoku Solver Application"
Created New Issue...
The amazing Brain Challenging Sudoku Solver Application in C++.
Created by @SwarajShelavale.

[2022-10-09 15:43] SwarajShelavale commented on #1235
Hello Respected Code Maintainer,
I want to merge this amazing Sudoku Solver Application in your repository.
Could you like to assign me this issue, Please ?

[2022-10-09 15:54] SwarajShelavale commented on #1235
Hello Respected Maintainer,
I have solved this issue of Sudoku Solver #1236

Please accept my request... review the code and merge my Pull Request.

[2022-10-09 16:27] iisha27 commented on #1214
I would like to contribute to this issue in C++. Please assign me.

[2022-10-09 17:28] ChakitBhandari commented on #1235
Hello @1dharode,
I want to merge this fantastic Sudoku Solver Application in you repository.
Could you please assign me this issue?

[2022-10-09 17:29] ChakitBhandari commented on #1231
Hello @1dharode,
I would like to contribute the program for Search in Rotated Sorted array.
Could you please assign this issue to me?

[2022-10-09 18:39] khyati81 opened #1244 "Merge Two Sorted Linked List"
Merge Two Sorted Linked List in Java

[2022-10-09 19:13] el3v3n011 commented on #1244
please assign this issue @1dharode

[2022-10-09 19:18] Vimlesh-Kumar commented on #1244
Hello, Can you assign this issue to me?

[2022-10-09 19:56] Anshul727 opened #1247 "Trapping rain water"

[2022-10-09 20:07] Jatingupta9120 commented on #1178
plz asiign it to me

[2022-10-09 20:29] Adityaarora08 commented on #1231
Heyy @1dharode,
I would like to contribute the program of Search in Rotated Sorted Array in Python and JAVA.
Kindly Assign it to me.
Thank You!!

[2022-10-09 20:31] Adityaarora08 commented on #1223
Heyyy @1dharode,
I would like to add the program of Sliding Window Maximum in C++,Java and Python.
Kindly Assign it to me.
Thank You!!

[2022-10-09 20:32] Adityaarora08 commented on #1214
Hey @1dharode,
I would like to add the program of Lowest Common Ancestor of a Binary Tree in C++,Java and Python.
Kindly Assign it to me.
Thank You!!

[2022-10-09 20:33] Adityaarora08 commented on #1080
Hey @1dharode,
I would like to add the program of Longest Common Subsequence in C++,Java and Python.
Kindly Assign it to me.
Thank You!!

[2022-10-10 05:17] sreyaad commented on #1247
I have already worked on this problem. Can I work on it?

[2022-10-10 05:19] sreyaad commented on #1080
I have already worked on it. Can you please assign this to me?

[2022-10-10 05:19] sreyaad commented on #1076
Can I work on this?

[2022-10-10 05:20] sreyaad commented on #855
I can work on this. Please assign this to me

[2022-10-10 08:14] AyushiGautam9 commented on #478
@1dharode please assign me this task as it will give a blooming start to my open source journey

[2022-10-10 11:09] HarshBhakkad commented on #1247
Can you assign me this issue, I can write the most efficient code we can.

[2022-10-10 11:11] HarshBhakkad commented on #1244
Please assign this issue @1dharode , I can write the code in python,java, c, cpp.

[2022-10-10 13:59] rajc9838 commented on #1247
Hi, assign this task to me I solve this problem before.

[2022-10-10 14:02] rajc9838 commented on #1244
Hi, assign this task to me I know how to solve it.  @1dharode

[2022-10-10 14:41] AnishKumarGarg commented on #1244
pls assign this to me, i can solve it

[2022-10-10 14:50] ankitk84 commented on #1244
hey, can you [please assign it to me. I just started open source. It'll be me my first contribution. thank you

[2022-10-10 14:51] ankitk84 commented on #1247
hey, can you [please assign it to me. I just started open source. It'll be me my first contribution. thank you

[2022-10-10 17:42] imNilabja commented on #1244
i would like to do this task ,can you assign it to me please.

[2022-10-11 05:37] tushar1112 commented on #1214
I am a c++ programmer and i would like to contribute in this problem. please assign me

[2022-10-11 09:52] Debayan97531 commented on #1247
Can you please assign this to me??I can surely do it.

[2022-10-11 10:13] Debayan97531 commented on #910
hello @1dharode can u please assign this to me??

[2022-10-11 12:33] Roopshali opened #1298 "Digital clock using python"

[2022-10-11 12:34] Roopshali commented on #1298
please assign it to me under hacktoberfest-accepted tag

[2022-10-11 12:58] itsrishav17 opened #1301 "Leetcode substring problems"

[2022-10-11 14:30] arjun988 opened #1302 "Rabin-karp algorithm"

[2022-10-11 15:44] suprity04 commented on #1244
Hey @1dharode  I want to add the solution to your problem. Can you please assign this to me.

[2022-10-11 18:02] iamriyaa commented on #1302
I have made the PR. Kindly merge my PR.

[2022-10-11 18:22] Monisha0707 commented on #1244
Hello @1dharode . I would love to solve this problem. Please assign this to me.

[2022-10-11 18:23] Monisha0707 commented on #1301
Hello @1dharode !  I would love to solve this problem. Please assign this to me

[2022-10-11 18:24] Monisha0707 commented on #1077
Hello @1dharode !
I would love to solve this problem. Please assign this to me

[2022-10-11 18:25] Monisha0707 commented on #910
Hi @1dharode !
I would love to solve this problem. Please assign this to me.

[2022-10-11 18:26] Monisha0707 commented on #897
I would like to update this readme file.
Please assign this to me.

[2022-10-11 19:28] Adityaarora08 opened #1321 "Best Time to Buy and Sell Stock Problem"

[2022-10-11 19:31] Adityaarora08 commented on #1321
Please Assign me this issue  in C++!

[2022-10-11 19:32] Adityaarora08 opened #1322 "Boyer Moore's Voting Algorithm"
Please assign me this issue in C++ !

[2022-10-12 06:17] rajdeepsri commented on #1321
Can you please assign this issue to me, i would love to contribute

[2022-10-12 06:18] rajdeepsri commented on #1301
please assign it to me

[2022-10-12 07:48] Mahesmati opened #1340 "Merge_two_BST"
a function that merges the two given balanced BSTs into a balanced binary search tree. Let there be m elements in the first tree and n elements in the other tree. Your merge function should take O(m+n) time.

[2022-10-12 10:42] bristi07 commented on #932
hey!
can you please assign this task to me

[2022-10-12 10:43] Monisha0707 opened #1351 "Solution of "Merge two sorted Linkedlist" #1244"
class Solution {
public:
    ListNode* mergeTwoLists(ListNode* list1, ListNode* list2) {
        if(list1 ==NULL) return list2;               //Check for empty linkedlists
        if(list2 ==NULL) return list1;

        ListNode* ptr=list1;                           //initialise a pointer to list1

        if(list1->val < list2->val) list1=list1->next;      //check for first smallest element of tw

[2022-10-12 10:44] Monisha0707 commented on #1351
I have added the code for problem "Merge two sorted Linkedlist" issue #1244

[2022-10-12 11:25] Swagat-Satprem-Jena commented on #1077
Please Assign this issue to me !!

[2022-10-12 11:57] Roopshali commented on #1298
#1356 I have made a PR for the same.

[2022-10-12 12:20] RaginaPhalangae opened #1358 "Sets and Maps : Component of STL"
I would like to add  basic functionalities and functions along with time complexities of Sets and Maps of different kinds to the STL directory . Kindly assign me this issue.

[2022-10-12 20:08] VirusARzk-Git commented on #1077
Hello @1dharode !!
I want to provide the solution to this problem in C++, Java and Python.
Please Assign this issue to me !!

[2022-10-12 20:08] Shashwat1-23 commented on #1321
can you pls assign this issue to me,thanks

[2022-10-12 21:21] nehaljain28 commented on #573
please assign this to me..

[2022-10-13 03:54] tripti1308 commented on #989
hey can you please assign me this issue

[2022-10-13 04:37] Deepak-the-learner commented on #1223
@1dharode Please assign this task to me
I have practiced n number of problems related to sliding window maximum
By the way I could make it in c++
Thank You!!

[2022-10-13 09:51] priyaastha opened #1385 "Kadane's algorithm in cpp"
Please assign me this issue @rohansp @ayushbali @CostGranda @rahanahu @PREE-TI

[2022-10-13 11:15] inbuilt-aura commented on #1076
Hey, i want to add the code in C++ or Java,your choice,PLzz assign me @1dharode

[2022-10-13 12:15] ak-ashish36 commented on #1385
Please Assign me this issue , I will Code the solution with comments for better understandability

[2022-10-13 13:35] RitamSamant opened #1391 "Sorting algorithm Folder for Java."
Hello @1dharode sir, I'm new to open source. I would like to make a folder for Java sorting algorithms, combine all the sort algorithms in that folder, and add algorithms if needed so that other people find algorithms very quickly.

[2022-10-13 15:47] kkpal02 commented on #1076
Please assign me. I want to add code

[2022-10-13 15:50] kkpal02 commented on #1391
Hello sir, Kindly assign me this problem to me. I want to add files & code on this problem. Kindly assign me this please sir

[2022-10-13 15:54] kkpal02 commented on #580
What type of problem is this??

[2022-10-13 15:57] diptendunandi commented on #1385
PLEASE ASSIGN ME THIS

[2022-10-13 15:58] diptendunandi commented on #1322
Please assign me this issue in jAVA

[2022-10-13 16:25] LakshyaBhar commented on #1076
can i do this?

[2022-10-13 16:25] LakshyaBhar opened #1403 "Bubble Sort in cpp"

[2022-10-13 16:26] LakshyaBhar commented on #1403
Cpp code

[2022-10-13 16:43] sharyu04 opened #1404 "3 Sum Dsa"
Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0

[2022-10-13 16:43] sharyu04 commented on #1404
please assign me this issue for hacktoberfest2022

[2022-10-13 17:43] Jyotisaini-2001 commented on #1404
Hii, I am interested in contributing the code of 3sum dsa problem in cpp. Please assign me this issue.

[2022-10-13 17:43] Jyotisaini-2001 commented on #1403
Hii, I am interested in contributing the code of bubble sort problem in cpp. Please assign me this issue.

[2022-10-13 17:44] Jyotisaini-2001 commented on #1385
Hii, I am interested in contributing the code of Kadane's algorithm in cpp. Please assign me this issue.

[2022-10-13 17:45] Jyotisaini-2001 commented on #1358
Hii, I am interested in contributing the code of Sets and Maps : Component of STL in cpp. Please assign me this issue.

[2022-10-13 17:46] Jyotisaini-2001 commented on #1340
Hii, I am interested in contributing the code of Merge_two_BST in cpp. Please assign me this issue.

[2022-10-13 17:47] Jyotisaini-2001 commented on #1301
Hii, I am interested in contributing the code of Leetcode substring problems in cpp. Please assign me this issue

[2022-10-13 17:48] Jyotisaini-2001 commented on #1351
Hii, I am interested in contributing the code of Solution of "Merge two sorted Linkedlist" problem in cpp. Please assign me this issue

[2022-10-13 17:49] Jyotisaini-2001 commented on #1247
Hii, I am interested in contributing the code of Trapping rain water problem in cpp. Please assign me this issue

[2022-10-13 17:51] Jyotisaini-2001 commented on #1088
Hii, I am interested in contributing the code of SAll KnapSack Category. Please assign me this issue.

[2022-10-13 17:52] Jyotisaini-2001 commented on #1077
Hii, I am interested in contributing the code of Remove vowels from a string problem in cpp. Please assign me this issue.

[2022-10-13 17:57] Sakshi2002-Sinha commented on #1404
Hello, Can you please assign this issue to me?
I have solved this question . I know the code as well as the logic.
Thanks in advance :)

[2022-10-13 17:58] Jyotisaini-2001 commented on #989
Hii, I am interested in contributing the code of Fibonacci sequence problem in cpp. Please assign me this issue.

[2022-10-13 18:00] Sakshi2002-Sinha commented on #1403
Hello, Can you please assign this issue to me?
I know the code for bubble sort.
Thanks in advance :)

[2022-10-13 18:03] Sakshi2002-Sinha commented on #1385
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:04] Sakshi2002-Sinha commented on #1358
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:05] Sakshi2002-Sinha commented on #1351
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:06] Sakshi2002-Sinha commented on #1340
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:06] Jyotisaini-2001 commented on #672
Hii, I am interested in contributing the code of add a decimal to binary problem in cpp. Please assign me this issue.

[2022-10-13 18:06] Sakshi2002-Sinha commented on #1322
Hello, Can you please assign this issue to me?
I can do it in C++.
Thanks in advance :)

[2022-10-13 18:09] Sakshi2002-Sinha commented on #1321
Hello, Can you please assign this issue to me?
I know the logic of the problem. I can contribute the code for it.
Thanks in advance :)

[2022-10-13 18:09] Sakshi2002-Sinha commented on #1302
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:10] Sakshi2002-Sinha commented on #1301
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:12] Sakshi2002-Sinha commented on #1298
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:12] Sakshi2002-Sinha commented on #1247
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:13] Sakshi2002-Sinha commented on #1244
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:14] Sakshi2002-Sinha commented on #1231
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:15] Sakshi2002-Sinha commented on #1223
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:15] Sakshi2002-Sinha commented on #1214
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:15] Sakshi2002-Sinha commented on #1178
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:16] Sakshi2002-Sinha commented on #1171
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:16] Sakshi2002-Sinha commented on #1162
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:16] Sakshi2002-Sinha commented on #1088
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:17] Sakshi2002-Sinha commented on #1077
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:17] Sakshi2002-Sinha commented on #1076
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:18] Sakshi2002-Sinha commented on #989
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:19] Sakshi2002-Sinha commented on #983
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:19] Sakshi2002-Sinha commented on #937
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 18:27] Sakshi2002-Sinha commented on #866
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-14 05:04] Sakshi2002-Sinha commented on #573
Hello, Please assign this issue to me.

[2022-10-14 05:04] Sakshi2002-Sinha commented on #571
Hello, Please assign this issue to me.

[2022-10-14 08:38] KhushiiAgarwal opened #1414 "Website Login using HTML,CSS"
Website login and sign up pg for new & Existing users created by using HTML, CSS

[2022-10-14 09:36] prashant-jadu commented on #1414
sir please assign me this issue

[2022-10-14 10:03] sohail9972 commented on #1414
hey could you please assign it to me

[2022-10-14 10:17] #571 closed

[2022-10-14 11:00] AkshayNachappa opened #1419 "The Project shows as excluded from Hacktoberfest projects"

[2022-10-14 13:37] hyprex-deva opened #1426 "Matrix Multiplication"
The given code doesn't provide the correct answer to it. Please assign it to me, I know the correct code and logic of it.

I will be grateful if u assign this issue to me.
Thank you.

[2022-10-14 14:28] Supratick2001 commented on #1385
Hello, I want to contribute to this issue. Can you please assign it to me?

[2022-10-14 14:31] Supratick2001 commented on #1403
I want to contribute to this issue. Kindly assign this to me.

[2022-10-14 14:57] ImcalledIshita commented on #1403
Hello there! I'd like to start off my open source journey with this PR. Kindly grant me this issue.

[2022-10-14 15:24] mansi-gurnani02 commented on #989
Hii, i want to contribute in this please assign me this

[2022-10-14 15:48] jalajsc commented on #1301
Hey, I can solve this substring problem. Please assign this to me.😊

[2022-10-14 16:30] tajbaba999 commented on #1426
Hey @1dharode
I know the logic and code for matrix multiplication can you please assign it to me?
I love to contribute for this issue.

[2022-10-14 16:30] tajbaba999 commented on #1426
Hey @1dharode
I know the logic and code for matrix multiplication can you please assign it to me?
I love to contribute for this issue.

[2022-10-14 16:31] tajbaba999 commented on #1426
Hey @1dharode
I know the logic and code for matrix multiplication can you please assign it to me?
I love to contribute for this issue.

[2022-10-14 18:02] MaYaNkKashyap681 commented on #1403
Assign this issue to me, I want to contribute.

[2022-10-14 19:07] 9520prashant commented on #1426
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 19:07] 9520prashant commented on #1385
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 19:09] 9520prashant commented on #1351
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 19:09] 9520prashant commented on #1321
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 19:09] 9520prashant commented on #1247
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 20:05] SARKARABIR commented on #1403
@1dharode  sir pls assign this issue to me I would like to contribute

[2022-10-14 20:12] SARKARABIR commented on #779
sir  @ayushbali  @1dharode  can you pls assign this issue to me

[2022-10-14 20:21] SARKARABIR commented on #711
@CostGranda @1dharode  pls assign this issue to me

[2022-10-14 20:22] SARKARABIR commented on #446
@1dharode pls assign this project to me pls pls

[2022-10-14 21:53] aditi1807 commented on #1404
Hello, Can you please assign this issue to me?
I have solved this question . I know the code as well as the logic.

[2022-10-14 21:56] aditi1807 commented on #1080
hey sir can you please assign this issue to me

[2022-10-15 06:26] jalad-shrimali commented on #1414
Hey, can you assign this task to me, please?

[2022-10-15 06:27] Ishita2407 commented on #1426
Kindly assign me this issue

[2022-10-15 06:28] Ishita2407 commented on #1178
Kindly assign this issue to me

[2022-10-15 06:29] Ishita2407 commented on #903
Kindly assign this issue to me

[2022-10-15 06:29] Ishita2407 commented on #855
Kindly assign this issue to me

[2022-10-15 06:30] Ishita2407 commented on #496
Kindly assign this issue to me

[2022-10-15 06:31] jalad-shrimali commented on #1426
Please assign me this issue.

[2022-10-15 06:33] jalad-shrimali commented on #1403
Hello, Can you please assign this issue to me?
I have good knowledge of bubble sort.

[2022-10-15 07:00] SakshamSharma07 commented on #1340
i want  to solve this issue please assign me this issue

[2022-10-15 08:25] 9520prashant commented on #1426
Thank you

On Sat, 15 Oct, 2022, 12:02 PM Jalad Shrimali, ***@***.***>
wrote:

[2022-10-15 10:38] Kushbankey commented on #1403
Please assign this to me!

[2022-10-15 11:09] diptendunandi commented on #1403
Please assign me this.

[2022-10-15 11:09] diptendunandi opened #1452 "Bucket Sort in cpp"

[2022-10-15 11:21] LakshyaBhar commented on #1452
Can i do it?

[2022-10-15 19:20] GeeteshMehto commented on #1403
Hello sir please assign this issue to me as i already worked on it in past.

[2022-10-15 19:23] GeeteshMehto commented on #1077
Hello sir, Please assign this issue to me as i already worked on it in past.

[2022-10-15 19:24] GeeteshMehto commented on #989
Hello sir, please assign this issue to me as i already worked on it in past.

[2022-10-15 19:25] GeeteshMehto commented on #983
Hello sir, please assign this issue to me as i already worked on it in past.

[2022-10-15 20:13] PrasanBora commented on #1247
Hello  there , myself prasan i would like to contribute to this with a optimal approach of two pointers with intuition and  algorithm for better understanding .
Remember i can only contributr if u assign me :)    .

[2022-10-16 03:54] jawadkhanpk commented on #1452
Hey please assign this to me. I have good profile in DSA I wanted to contribute to this issue. Thanks

[2022-10-16 03:56] jawadkhanpk commented on #1163
Hey can you please assign this issue to me?
I am good at problem solving and algorithm making I would really appreciate if you can assign me this issue.

[2022-10-16 03:58] jawadkhanpk commented on #983
Hey I developed my own algorithm using ceaser cifer technique in python I wanted to add it into this issue please assign me so that I can make contribution. Thanks

[2022-10-16 06:24] Aishwarya1224 opened #1492 "tower of hanoi"
Hello I want to add C++ code for Tower of Hanoi, I'm a beginner in Hacktober fest so let me contribute.

[2022-10-16 07:23] souravgupta0401 opened #1494 "I want to add an Optimal Approach to Two Sum Problem in O(nlogn) time complexity."

[2022-10-16 08:09] charu-chaturvedi commented on #1492
Hello I want to contribute in this repository. I will give the optimized solution. I would be grateful if you assign this problem to me

[2022-10-16 08:18] Aishwarya1224 commented on #1492
Hello
I’m sorry cause I’ve already started working on this

On Sun, 16 Oct 2022 at 1:39 PM, Charu Chaturvedi ***@***.***>
wrote:

[2022-10-16 10:43] RitwikGanguly commented on #1494
@souravgupta0401  assign me, I can do this using O(nlogn)

[2022-10-16 11:42] RitwikGanguly commented on #1494
review and merge my pull request #1503

[2022-10-16 11:44] ARSLAN7861 commented on #1340
i have already added for pull request

[2022-10-16 13:25] Gauravshah001 commented on #1492
i want to contribute in this repository

[2022-10-16 13:42] syedmoazam opened #1508 "Todo app in react"
**Is your feature request related to a problem? Please describe.**
Todo application storing todos of users in the database

**Describe the solution you'd like**
I want to create a todo application in react using firebase database and authentication

Kindly assign this issue to me

[2022-10-16 16:29] 9520prashant commented on #1247
https://github.com/9520prashant/DSA/commit/a81fbd11194ddcf5c0a838eecef080c3e7e97407

Please check this...........

[2022-10-17 03:47] SagarVarshney-tech commented on #1452
Can you assign this issue to me?

[2022-10-17 08:16] ArpitSahu01 opened #1520 "Adding a Quadratic equation program in Java"

[2022-10-17 09:53] rituraj-abes commented on #1403
Hello sir, please assign this issue to me . I know how to code in cpp.

[2022-10-17 12:21] arpanbiki commented on #1492
Sir please assign me this issue.

[2022-10-17 12:21] arpanbiki commented on #1404
Sir please assign me this issue.

[2022-10-17 12:22] arpanbiki commented on #1391
Sir please assign me this issue.

[2022-10-17 12:36] anand738 commented on #1404
i am interested to solve this question

[2022-10-17 14:39] ankita-singh607 commented on #1492
hello sir,
@1dharode Sir would you kindly assign me this issue. I have learning c++ since last 1.5 years and I am a beginner at hacktoberfest so I would like to contribute

[2022-10-17 14:40] ankita-singh607 commented on #1414
hello sir,
@1dharode would you kindly assign me this issue

[2022-10-17 15:04] AdityaShaw1 commented on #1404
pls assign me i need pr urgently

[2022-10-17 15:58] STRIZERORTIX commented on #1492
I have already made a pull req. regarding this question - I have completed this problem in python! Please accept my PR

[2022-10-17 17:13] vanshika-13 commented on #1231
hello!!
This will be my very first contribution to hacktoberfest. I know an optimal solution and would love to code this. Kindly assign me this and help me in beginning my journey.

[2022-10-17 17:14] vanshika-13 commented on #1414
hello!!
This will be my very first contribution to hacktoberfest. I know an this and would love to code this. Kindly assign me this and help me in beginning my journey.

[2022-10-17 18:16] SumedhDongre031 commented on #1403
can you assign me to contribute?

[2022-10-17 18:27] himanshuj0007 commented on #1492
assign me plz.

[2022-10-17 20:04] pratyushkr11 commented on #1508
Please assign me this issue. I would like to work on this.

[2022-10-17 20:07] pratyushkr11 commented on #1508
Please assign me this issue. I would like to work on this issue

[2022-10-17 20:07] pratyushkr11 commented on #1403
Please assign me this issue. I want to contribute.

[2022-10-17 20:29] himanshuj0007 commented on #1403
assign me plz.

[2022-10-17 20:30] SuvratZZZ opened #1543 "vector is missing in stl folder"
vector is commonly used stl  and is same as dynamic arrays with the ability to resize itself automatically when an element is inserted or deleted, with their storage being handled automatically by the container.

[2022-10-17 20:32] SuvratZZZ commented on #1543
@1dharode please assign this issue to me.

[2022-10-18 03:37] charu-chaturvedi commented on #1452
Can you please assign this to me?

[2022-10-18 04:45] akrititgit commented on #1426
please assign me this issue.

[2022-10-18 04:48] anjaliisonii commented on #1508
please assign me this issues.

[2022-10-18 04:49] anjaliisonii commented on #1494
kindly assign me this work.

[2022-10-18 04:49] akrititgit commented on #1231
I would like to contribute in the code for search in rotated sorted array.
kindly assign me the issue

[2022-10-18 04:50] anjaliisonii commented on #1414
Hello there !please assign me this work.I will do my best.#hactoberfest2022

[2022-10-18 04:50] akrititgit commented on #1414
kindly assign me this issue.

[2022-10-18 04:51] akrititgit commented on #1494
sir please assign me this work

[2022-10-18 04:51] anjaliisonii commented on #1322
Please assign me this work...Please

[2022-10-18 04:52] anjaliisonii commented on #1404
Please assign me this i will give varient of 3 sum questions of leetcode ..please assign me this works..

[2022-10-18 04:54] akrititgit commented on #1351
Sir, I am interested in contributing to this problem please assign me this issue.

[2022-10-18 04:54] anjaliisonii commented on #903
please assign me this work. I will give the proper code contributions in hacktober
 please sir

[2022-10-18 04:55] akrititgit commented on #1235
Sir,please assign me this issue.

[2022-10-18 12:54] Deepanshu1008 commented on #1520
Can you assign me this task?

[2022-10-18 17:00] GeeteshMehto commented on #1520
Hello sir, please assign this issue to me as i already worked on this kind of problem in past and has a great experience.

[2022-10-18 17:01] GeeteshMehto commented on #1414
Hello sir, please assign this issue to me as i already worked on this kind of project in past and has a great experience.

[2022-10-18 17:18] jatin41 commented on #1520
i want to work on this

[2022-10-19 02:03] garvit0908 commented on #1452
please assign this to me

[2022-10-19 02:04] garvit0908 commented on #1426
please assign this issue

[2022-10-19 04:47] Natashaj02 commented on #1426
hi Sir! I would like to work on this. Please do assign me this issue.

[2022-10-19 04:47] Natashaj02 commented on #1452
Please do assign me this issue.

[2022-10-19 04:48] Natashaj02 commented on #1404
Hi! I would like to work on this, Please do assign me this issue.

[2022-10-19 04:48] Natashaj02 commented on #1403
Hi! I would like to work on this, Please do assign me this issue.

[2022-10-19 04:48] Natashaj02 commented on #1385
Hi! I would like to work on this, Please do assign me this issue.

[2022-10-19 04:48] Natashaj02 commented on #1244
Hi! I would like to work on this, Please do assign me this issue.

[2022-10-19 11:25] Vishal2002 commented on #1302
Can you assign me this issue to solve

[2022-10-19 14:19] infinity-lightning commented on #1520
assign it to me plzz

[2022-10-19 14:23] kakashi-sensai commented on #1385
I want to contribute on this issue.

[2022-10-19 14:24] kakashi-sensai commented on #1235
i want to contribute on this issue.

[2022-10-19 15:35] lanu2 commented on #1414
i would like to give it a try,plz assign me

[2022-10-19 16:24] AdityaGoel0320 commented on #308
hi please assign me this issue I will give my best to solve the problem .

[2022-10-20 05:21] Shalu461975 commented on #1247
please assign this to me

[2022-10-20 05:39] nidhi-2619 commented on #1492
Hello, I want to contribute to this repo please assign this to me, I've written an optimized code for tower of Hanoi

[2022-10-20 05:42] nidhi-2619 commented on #989
SIr, Please assign this issue to me I know how to code it in iterative as well as recursive way

[2022-10-20 06:39] Nmn200 commented on #1403
hello Sir, can u assign this issue to me

[2022-10-20 07:00] Prachiti15 commented on #1244
Hello, I would like to work on this issue. Kindly assign it to me.

[2022-10-20 07:04] Prachiti15 commented on #1171
Hello, I would like to work on this issue... Kindly assign it to me.

[2022-10-20 07:06] Prachiti15 commented on #1077
Hello, I would like to work on this issue.. I'll solve it efficiently in python. Kindly assign it to me under Hacktoberfest

[2022-10-20 07:09] Prachiti15 commented on #983
Hello, I'm very much interested in it. I have done the same using Huffmann encode and decode.. it even compresses the message. Kindly assign it to me!

[2022-10-20 08:06] epicskills1 commented on #1543
I can do it for you

[2022-10-20 09:18] Ankita-Nandkumar-Patil commented on #1452
Hey, I've added the CPP code for bucket sort and created a merge request.
please check it once and kindly accept it

[2022-10-20 09:26] Ankita-Nandkumar-Patil commented on #1426
Hey, I've added the CPP code for matrix multiplication. please check it and kindly accept my request

[2022-10-20 14:34] ADRITATITIR opened #1639 "Can I add the solution of rotten orange problem in cpp , please assign this issue to me"

[2022-10-20 14:37] ADRITATITIR commented on #1404
Can you assign this issue to me , also I have solved the 4 sum DSA problem also ....I really want to contribute

[2022-10-21 04:56] pritam1309 commented on #1639
@ADRITATITIR  can you assign it to me with proper labels ; )

[2022-10-21 06:06] Vartika123456 commented on #1404
please assign this to me

[2022-10-21 06:06] Vartika123456 commented on #1639
please assign this to me.

[2022-10-21 06:20] Aman736 commented on #1404
Assign to me this problem

[2022-10-21 12:12] RiyaArora02 commented on #1403
Hii sir can you assign this issue to me I would like to contribute in it

[2022-10-21 12:13] RiyaArora02 commented on #1244
Hii sir can you assign this issue to me I would like to contribute in it

[2022-10-21 12:13] RiyaArora02 commented on #1301
Hii sir can you assign this issue to me I would like to contribute in it

[2022-10-22 09:40] RishikaKant opened #1693 "Want to contribute my tic-tac-toe game made in python"

[2022-10-22 09:42] RishikaKant opened #1694 "Kadane's algorithm in Java"

[2022-10-22 15:44] dimple031 commented on #1694
can you please assigned this issue to me?

[2022-10-23 09:50] shaheervk786 commented on #1298
Can u assign this to me pls

[2022-10-23 09:50] shaheervk786 commented on #1163
Can u assign me this pls

[2022-10-23 09:51] shaheervk786 commented on #707
Pls assign me this

[2022-10-23 10:23] ankitk84 commented on #1694
can you please assign it to me?

[2022-10-23 10:31] shruti-2412 commented on #1391
Can you please assign me this?

[2022-10-24 02:27] DhruvSanghvi2002 commented on #1492
Hello ! I am learning cpp from last 6months and i think i could solve this problem.Kindly assign me this issue.

[2022-10-24 02:28] DhruvSanghvi2002 commented on #1452
Hey ! can you assign me this issue.

[2022-10-24 02:29] DhruvSanghvi2002 commented on #1414
Hey !can you please assign me this issue.

[2022-10-25 03:11] Sushilverma002 commented on #1403
sir plz assign me

[2022-10-25 17:09] anishhh238 opened #1749 "Adding Quick sort"
Quicksort is a sorting algorithm based on the divide and conquer approach where

* An array is divided into subarrays by selecting a pivot element (element selected from the array).

 While dividing the array, the pivot element should be positioned in such a way that elements less than pivot are kept on the left side and elements greater than pivot are on the right side of the pivot.
* The left an

[2022-10-26 05:06] Shahnawazkhan83 commented on #1749
I want to add code for Quicksort in C++ for hacktoberfest 2022. Please assign this issue to me.

[2022-10-26 12:33] zetabug opened #1770 "I want to add my rock-paper-scissors game to this repo."
![Screenshot (1)](https://user-images.githubusercontent.com/72355377/198027007-35f00b27-a246-4bff-b093-67a98a5ad583.png)

[2022-10-27 04:28] Yashasvi-b commented on #1749
Hi please assign this issue to me. I want to contribute to hacktoberfest 2022

[2022-10-27 15:08] Tanyamodi opened #1787 "Mid-Point of Linked List"

[2022-10-28 11:42] sudhanshu1221 commented on #1787
can you please assign me this issue?

[2022-10-29 04:26] sharmakarish commented on #1787
Can you please assign this issue to me

[2022-10-29 11:41] MohammadRehanPatel opened #1823 "Celsius to fahrenheit in javascript"
assign me with hacktoberfest tag

[2022-10-29 15:40] Vedant070401 opened #1831 "Edit Distance"
Hi @1dharode I can solve the above issue using optimised python code please assign me this task

[2022-10-29 16:30] spydon opened #1832 "Code of conduct"
This clearly goes against the rules of Hacktoberfest, I have reported you here https://hacktoberfest.com/report/
Please read the rules more carefully for the next Hacktoberfest.

[2022-10-30 19:23] Ashishbit01 commented on #1403
Sir plz assign me this issue